<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dairy E-Commerce Website</title>
    <link rel="stylesheet" href="/css/index.css">
</head>

<body>
    <section id="header">
        <div id="logo">
            <a href="#"><img src="/images/logo.jpg" id="logopic" alt="brand logo"></a>
            <h4>E-Dairy</h4>
        </div>

        <div id="nav">
            <ul id="navbar">
                <li><a href="/index_admin" class="active">Home</a></li>
                <li><a href="/admin_dash">Admin Panel</a></li>
                <li><a href="/login_admin"><img src="/images/account.png"></a></li>
            </ul>
        </div>
    </section>
    <section class="product">
        <h4 class="proheading">Feature Products</h4>
         <section id="shop_sec">
        <div class="show_pro">
            {{#each product}}
            <div class="card">
                <img src="/images/{{product_image}}" class="card-img-top" alt="product1">
                <div class="card-body">
                    <h6 class="card-title">Product Name:{{product_name}}</h6>
                    <ul class="list-group">
                        <li class="list-group-item">Quantity:{{product_quantity}}</li>
                        <li class="list-group-item">Price:Rs {{product_price}}</li>
                    </ul>
                    <form class="form" action="/view" method="post">
                        <input type="hidden" name="pro_id" value="{{_id}}">
                        <button type="submit" value="view_details" id="btn">view</button>
                    </form>
                </div>
            </div>
            {{/each}}
        </div>
    </section>
    <script src="/js/web.js"></script>
</body>

</html>